* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .game-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .hidden {
    display: none;
  }
  
  #answer-buttons {
    display: flex;
    flex-direction: column;
  }
  
  #timer-container {
    margin-top: 10px;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  #score-container {
    margin-top: 20px;
  }
  
  #feedback-container {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .start-container button {
    width: 100%;
    font-size: 1.2em;
  }
  
  #game-over-container {
    text-align: center;
  }
  
  #next-button {
    background-color: #FFA500;
  }
  #loading {
    font-size: 1.2em;
    color: #555;
    font-weight: bold;
  }
  
  /* Hidden class for loaders */
  .hidden {
    display: none;
  }  